# Server Configuration
PORT=3000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=f591b974c83066aa191159ef2b14491aa307939b1d9da288be881a1c3356d149

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Rate Limiting
RATE_LIMIT_WINDOW_MS=15_60_1000
RATE_LIMIT_MAX_REQUESTS=100

# Service URLs
AUTH_SERVICE_URL=http://localhost:3001
MONEY_GENERATION_SERVICE_URL=http://localhost:3002
TRANSACTION_SERVICE_URL=http://localhost:3003
PAYMENT_INTEGRATION_SERVICE_URL=http://localhost:3004
KYC_SERVICE_URL=http://localhost:3005

# Service Keys
SERVICE_KEY=e48751628a74728b8b6f2e9010c937636f23ae99de68d4a48f191223ae25506b

# CORS Configuration
CORS_ORIGIN=http://localhost:3000,http://localhost:3006