# Server Configuration
PORT=3003
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/quantummint_transactions

# JWT Configuration
JWT_SECRET=f591b974c83066aa191159ef2b14491aa307939b1d9da288be881a1c3356d149

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# RabbitMQ Configuration
RABBITMQ_URI=amqp://localhost:5672
RABBITMQ_EXCHANGE=quantummint_exchange
RABBITMQ_QUEUE=transaction_queue

# Service Keys
SERVICE_KEY=7f39d532a08186370ca77ae2af27a06db9b86788d1b2bd20ea27ab43d09adf6d

# Money Generation Service
MONEY_GENERATION_SERVICE_URL=http://localhost:3002/api/generation

# Payment Integration Service
PAYMENT_INTEGRATION_SERVICE_URL=http://localhost:3004/api/payments