# Server Configuration
PORT=3001
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/quantummint_auth

# JWT Configuration
JWT_SECRET=f591b974c83066aa191159ef2b14491aa307939b1d9da288be881a1c3356d149
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Email Configuration
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASS=your_email_password

# Two-Factor Authentication
TOTP_ISSUER=QuantumMint